* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    margin: 0  auto;
    max-width: 1200px;
    /* outline: 1px solid red; */
}

.main-search-screen {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    /* outline: 1px solid blue; */
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

input {
    width: 400px;
    border: 1px solid gray;
    padding: 5px 20px;
    margin: 20px 10px 15px 10px;
    border-radius: 20px;
    outline: none;
}

input::placeholder{
    font-size: 12px;
    color:rgb(235, 235, 235);
}

input:focus {
    outline: none;
    border: none;
    background: rgb(232, 244, 245);
}

input:focus::placeholder {
    color: transparent;
}

.btn {
    background: rgb(59, 59, 59);
    outline: none;
    border: 1px solid rgb(59, 59, 59);
    padding: 5px 30px;
    color: rgb(244, 241, 241);
    font-size: 12px;
    font-weight: 300;
    border-radius: 20px;
}

.btn:hover {
    color:rgb(59, 59, 59);
    background: rgb(244, 241, 241);
    font-weight: 400;
}

.items-container {
    max-width: 1200px;
    /* outline: 1px solid red; */
}

img {
    width: 100px;
}
<<<<<<< HEAD
=======

@media screen and (max-width: 768px) {
    input {
        width: 300px;
    }
}
>>>>>>> 71e8073 (Deleted unused code.)
